<h1>Workouts page</h1>
<h3>Click a workout name to see the workout edit page</h3>
<br>
<ol>
<% @workouts.each do |w| %>
  <li><h2><a href="/workouts/<%= w.id %>"><%= w.name %></a></h2></li>
  <ul>
  <li>Date logged: <%= w.created_at.strftime("%m-%d-%y") %></li>
  <li>Description: <%= w.description %></li>
  </ul>
  <br>
<% end %>
</ol>
<br>
<a href="/workouts/new"><input type="submit" value="Create New Workout"></a>
<br>
<br>
<a href="/workouts/community"><input type="submit" value="See Community Workouts"></a>