<h1>Workouts page</h1>
<h3>Click a workout name to see the workout edit page</h3>
<br>
<ol>
<% @workouts.each do |w| %>
  <h2><a href="/workouts/<%= w.id %>/edit"><%= w.name %></a></h2>
  <li>Date logged: <%= w.created_at.strftime("%m-%d-%y") %></li>
  <li>Description: <%= w.description %></li>
  <br>
<% end %>
</ol>
<br>
<a href="/workouts/new"><input type="submit" value="Create New Workout"></a>