<h1>Workouts page</h1>
<ol>
<% @workouts.each do |w| %>
  <h2>Name: <%= w.name %></h2>
  <li>Date logged: <%= w.created_at %></li>
  <li>Description: <%= w.description %></li>
  <li>Instructions: <%= w.instructions %></li>
<% end %>
</ol>