<h1>New Workout!</h1>

<form action="/workouts" method="POST">
<label for="name">Enter a name: </label>
<input type="text" name="name">
<br>
<br>
<label for="description">Enter a description: </label>
<textarea name="description"></textarea>
<br>
<br>
<label for="instructions">Enter instructions: </label>
<textarea name="instructions"></textarea>
<br>
<br>
<input type="submit" value="Create Workout!">
</form>