<h1>New Template!</h1>
<br>
<form action="/templates" method="POST">
  <label for="template[name]">Enter an template name: </label>
  <input required type="text" name="template[name]">
  <br>
  <br>
  <label for="template[description]">Enter a description: </label>
  <textarea name="template[description]"></textarea>
  <br>
  <br>
  <label for="template[instructions]">Enter instructions: </label>
  <textarea name="template[instructions]"></textarea>
  <br>
  <br>
  <input type="submit" value="Create Template!">
</form>
<br>
<a href="/templates"><input type="submit" value="Go Back to Templates Index"></a>
<br>
<br>
<a href="/workouts"><input type="submit" value="Return to Workout Index"></a>